
body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 

}

section.connectFour {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
  border: 10px solid black;
  margin: auto;
  background: "shelter";
}
div {
  display: block;
  justify-content: center;
  border-radius: 60px;
  align-items: center;
  text-align: center;
  
}
.tile{
 display: flex;
 justify-content: center;
 align-items: center;
 border: 6px solid black;
 background-color: aqua;
 box-shadow: 6px,6px,6px black;
}
.hero {
  margin-bottom: 200px;
}


